@model IEnumerable<FilmsPhoto.Models.Film>



<div id="searchresults">
    @foreach (var item in Model)
    {
        <div class="col-md-12" style="padding-bottom:15px;">
            <div class="w100" style="margin-left:50%;padding-bottom:5%;"><h1>@item.Title</h1></div>
            <div style="font-size:18px;">
                <p>@item.Description</p>
                <p><b>Год выхода: @item.Year</b></p>
                <p><b>Страна: @item.Country</b></p>
                <p><b>Актеры:</b></p>

            </div>

            
        </div>
    }
</div>



